<section id="home"
  class="text-white h-[80vh] flex items-center bg-cover bg-center"
  style="background-image: url('assets/images/background.jpeg')"
>
  <div class="container mx-auto px-6 md:px-12">
    <h1 class="text-4xl md:text-5xl font-bold leading-tight mb-6">
        Welcome to SharpTalent!
    </h1>
    <p class="text-lg max-w-lg mb-6">
        At SharpTalent, we understand that finding the right talent is crucial for your business's success. Our dedicated team specializes in talent acquisition services, ensuring that you connect with qualified professionals who fit your unique needs. Let us help you streamline your hiring process and build a team that drives your business forward.
    </p>
    <a
      href="#"
      class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-full shadow-md transition"
    >
      Learn More
    </a>
  </div>
</section>